/* COLORS */




/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



main{
    width: 100vw;
}

body{
    margin: 0;
}



/* DOT CURSOR */

body{
    cursor: none;
}



.cursor-dot{
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
    z-index: 2;
}

.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
    z-index: 2;
}

.cursor-dot {

    width: 6px;
    height: 6px;
    background-color: #0354B7;
}

.cursor-dot-outline {

    width: 40px;
    height: 40px;
    background-color: rgba(3, 84, 183, 0.08);
    backdrop-filter: blur(1px);
}







/* HEADER */


#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    /*box-shadow: 0px 0px 10px 0px #f2f4f9;*/
    align-items: center;
    position: fixed;
    z-index: 1;

}

.header-name{
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-name h2{
    margin-right: 32px;
    font-weight: 700;
}

.header-name p{
    font-size: 13px;
    font-weight: 300;

}

.header-info{
    width: 40vw;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-info a{
    font-size: 13px;
    font-weight: 300;
}

.header-info p{
    width: 32px;
    font-size: 13px;
}





/* BURGER MENU */

.box {
    width: 15vw;
    height: 100%;
    float: left;
}

.icon {
    position: relative;
    top: 24%;
    left: 44%;
    transform: translate(-50%,-50%);
    width: 50%; 
    height: 50%;
    fill: none;
    stroke-width: 6;
    color: #333;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: none;
}



.icon { stroke: #333333; opacity: .95; }













/* Style the navigation menu */
.topnav {
    overflow: hidden;
    width: 70vw;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    
}


/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    margin-top: 70px;
    box-sizing: border-box;
    height: 50px;
    width: 100vw;
    padding-right: 15vw;
    padding-left: 15vw;
    

    
}


/* Style navigation menu links */

.topnav a {
    color: #333;
    padding: 15px 0px;
    text-decoration: none;
    font-size: 13px;
    cursor: none;
}


.topnav a:hover {
    color: #0354B7;
}

.navlinks{
    width: 25%;
    text-align: center;
    padding: 10px 0px;
    margin-top: 0px;
    cursor: none;


}










/* TITLES */

h1{
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 700;
    color: #333;
    margin: 0;
}

h2{
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 400;
    color: #333;
    margin: 0;
}

h3{
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #333;
    margin: 0;

}

h4{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #0354B7;
    margin: 0;
}

h5{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #333;
    margin: 0;

}

h6{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 150px;
    color: #f2f4f9;
    margin: 0;
    height: 150px;
}

/* TEXTES */

p{
    font-family: 'Poppins';
    color: #696974;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
}

#big-title{
    width: 70vw;
    margin: 0 auto;
}

/* LINKS */

a{
    text-decoration: none;
    font-family: 'Poppins';
    color: #696974;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}


/* BOUTONS */

.btn-cta-active-blue{
    width: 120px;
    height: auto;
    box-sizing: border-box;
    padding: 12px;
    margin-right: 12px;
    background-color: #0354B7;
    color: #F1F1F1;
    border: none;
    border-radius: 60px;
    cursor: none;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.btn-cta-active-blue:hover{
    box-shadow: 0px 14px 34px 0px rgba(3, 83, 184, 0.18);
    transform: scale(1.05);
	transition: 0.2s ease-in;

}


.btn-cta-blur{
    width: 120px;
    height: auto;
    box-sizing: border-box;
    padding: 12px;
    margin-right: 12px;
    background-color: rgba(3, 83, 184, 0.1);
    backdrop-filter: blur(15px);
    color: #0354B7;
    border: none;
    border-radius: 60px;
    cursor: none;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.btn-cta-blur:hover{
    box-shadow: 0px 14px 34px 0px rgba(231, 237, 248, 0.8);
    transform: scale(1.05);
	transition: 0.2s ease-in;

}

.btn-cta-blur-white{
    width: 120px;
    height: auto;
    box-sizing: border-box;
    padding: 12px;
    margin-right: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    color: #fff;
    border: none;
    border-radius: 60px;
    cursor: none;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.btn-cta-blur-white:hover{
    box-shadow: 0px 14px 34px 0px rgba(125, 139, 165, 0.2);
    transform: scale(1.05);
	transition: 0.2s ease-in;

}

.btn-more-active{
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: none;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0) ;
    
}







.btn-navigation{
    font-family: 'Poppins';
    cursor: none;
    font-weight: 300;
    color: #333;
}

.btn-navigation:hover{
    font-weight: 300;
    color: #0354B7;
    transition: 0.2s ease;
    cursor: none;
}

.btn-navigation-active{
    font-weight: 500;
    color: #333;
    cursor: none;
}

.btn-tag{
    color: #0354B7;
    background-color: #F1F4F8;
    font-family: 'Poppins';
    font-weight: 300;
    list-style: none;
    width: auto;
    padding: 4px 6px;
    border: none;
    border-radius: 6px;
    margin: 4px;
}

/* FOOTER */

footer{
    text-align: center;
    height: 30vw;
    width: 100vw;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);

}

.wrap-info-footer{
    height: 340px;
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    margin-top: 10vw;
    width: 70vw;
    margin: 0 auto;

}

.wrap-info-footer a{
    cursor: none;
    width: auto;
    margin: 0 auto;
}


.container-nav-footer{
    height: 70px;
    bottom: 0;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.footer-navigation{
    width: 20vw;
    display: flex;

}

.footer-navigation h2{
    font-weight: 700;
}

.wrap-navigation{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.wrap-navigation a{
    font-size: 13px;
    cursor: none;
}


.link-footer-connect{
    font-size: 16px;
    color: #0354B7;
    font-weight: 600;
    margin-bottom: 3vw;
}


.link-footer-mail{
    font-size: 16px;
    color: #333;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 8px;
}


.link-footer-tel{
    font-size: 13px;
    color: #333;
    font-weight: 300;
    margin-bottom: 16px;
}

.fab{
    font-size: 20px;
    color: #333;
}
