


/* SECTION 1 */

#hello{
    width: 70vw;
    height: 50vw;
    margin: 0 auto;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    padding-right: 10vw;
    padding-left: 8.5vw;
    padding-top: 70px;
    margin-bottom: 70px;
    z-index: 0;

}

.wrap-hello-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 60%;
}

.wrap-hello-info span{
    color: #0654b7;
}

.subhead-contact{
    margin-top: 10%;
}



.wrap-hello-info a{
    cursor: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;

}

.container-icon-contact{
    width: 50px;
    height: 50px;
    background-color: rgba(3, 83, 184, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 50%;
    margin-right: 24px;
    box-sizing: border-box;
    padding: 13px;

}

.container-icon-contact img{
    margin: 0 auto;
    height: 24px;
    color: #0354B7;
}





.container-button-home{
    margin-top: 3vw;
}

.container-img{
    padding-top: 3vw;


}

.container-img img{
    width: 90%;


}




